<h1> <%= @user.email %> </h1>

<p>Hey <%= @user.gamertag %>! If you don't want to use the site anymore, hit the nuke!</p>

<%= link_to "Delete your account!", :user, method: :delete, data: { confirm: "Are you sure you want to delete your account?"} %>
