<div class="container">
  <h1 class="hero_title">GAMETIME</h1>
  <h2>Games</h2>
  <div class="row">
    <% @games.each do |game| %>
      <div class="col-md-4">
        <%= image_tag game.image_url, :class => "game_picture" %>
        <%= link_to "#{game.title}", game_path(game), class: "btn btn-info btn-sm" %>
        <br>
        <br>
      </div>
    <% end %>
    </div>
  <br>
  <%= link_to 'Add Game', new_game_path, class: "btn btn-warning" %>
  <%= link_to "List of Playtimes", playtimes_path, class: "btn btn-default" %>
</div>
