<h1>GAMETIME</h1>
<h2>Games</h2>

<ul>
  <% @games.each do |game| %>
    <li>
      <strong> <%= game.title %> </strong>
      <%= link_to "More info", game_path(game) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add Game', new_game_path %>
<br>
<%= link_to "List of Playtimes", playtimes_path %>
