<h1>GAMETIME</h1>
<h2>Upcoming Playtimes</h2>

<ul>
  <% @playtimes.each do |playtime| %>
    <li>
      <strong> <%= playtime.game %> </strong> - <%= playtime.time %>
      <%= link_to "More info", playtime_path(playtime) %>
    </li>
  <% end %>
</ul>
